@font-face {
    font-family: 'Roboto';
    src:  local('Roboto Light'), url('fonts/Roboto-Light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), url('fonts/Roboto-LightItalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  local('Roboto'), local('Roboto-Regular'), url('fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular') url('fonts/Roboto-Italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src:  local('Roboto-Medium'), local('Roboto-Medium'), url('fonts/Roboto-Medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Medium'), local('Roboto-Medium'), url('fonts/Roboto-MediumItalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src:  local('Roboto-Bold'), local('Roboto-Bold'), url('fonts/Roboto-Bold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Bold'), local('Roboto-Bold'), url('fonts/Roboto-BoldItalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}



