<link rel="import" href="../default/controllers/controllers.html">
<link rel="import" href="../default/services/services.html">
<link rel="import" href="../default/directives/directives.html">
<link rel="import" href="../default/models/models.html">
<link rel="import" href="../core/core.html">
<script type='text/javascript' src='../core/index.js'></script>
<script type='text/javascript' src='../default/index.js'></script>

