<md-dialog aria-label="Debug window"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Debug window</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
	<div ng-bind-html="data"></div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="close()">
	Ok
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
