<div ng-cloak flex-xs="100" flex ng-class="md-whiteframe-z2">
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools" layout="row" ng-show="selected.length===0">
            <span>Users</span>
        </div>
        <div class="md-toolbar-tools" layout="row" ng-show="selected.length>0">
            <span ng-if="selected.length>1">Delete {{selected.length}} users</span>
            <span ng-if="selected.length===1">Delete {{selected.length}} user</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="delete()">
                <md-icon>delete</md-icon>
            </md-button>
        </div>
    </md-toolbar>



    <md-table-container>
        <table md-table md-row-select ng-model="selected" md-progress="promise">
            <thead md-head>
                <tr md-row>
                    <th md-column md-numeric>#</th>
                    <th md-column>Name</th>
                    <th md-column>Email</th>
                    <th md-column>Role</th>
                    <th md-column>Edit</th>

                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="user" md-select-id="{{user.email}}" ng-repeat="user in userList track by $index">
                    <td md-cell>{{$index+1}}</td>
                    <td md-cell>{{user.fName}} {{user.lName}}</td>
                    <td md-cell>{{user.email}}</td>
                    <td md-cell>{{user.role}}</td>
                    <td md-cell>
           <md-button class="md-icon-button" ng-click="editUser($index)"> 
	                  <md-icon >edit</md-icon>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{query.count}}" md-on-paginate="query.onPaginate" md-page-select></md-table-pagination>
</div>
