<script type="text/javascript" src="auth.js"></script>
<script type="text/javascript" src="error-notifier.js"></script>
<script type="text/javascript" src="validation.js"></script>
<script type="text/javascript" src="ngMdDialog.js"></script>
